body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-image: url('../images/newImahe.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

header {
   color: white;
   padding: 100px;
   text-align: center; /* Center text in header */
}

header nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: flex-end; /* Align nav to the right */
}

header nav ul li {
   margin-left: 12px; /* Add space between nav items */
}

header nav ul li a {
   color: white;
   text-decoration: none;
}

h1, h2, h3, h4, p {
   color: white;
   text-align: center;
}

a {
   color: black;
   text-decoration: none;
}

td, th {
   color: azure;
   border: 2px solid yellowgreen;
}

table {
   width: 100%;
   table-layout: fixed;
   text-align: center;
}

footer {
   background-color: goldenrod;
   padding: 20px; 
   text-align: center; 
}

footer div h4 {
   color: black;
}

button {
   border-radius: 10%;
   background-color: black;
   color: gold;
   border: 2px solid black;
   font-size: large;
   box-shadow: 4px 3px 4px 3px;
}

/* Media Queries for Responsive Design */


@media (max-width: 768px) {
   header {
       padding: 50px;
   }

   header nav ul {
       justify-content: center; 
   }

   header nav ul li {
       margin: 0 10px; /* Adjust margin for smaller screens */
   }

   table {
       width: 100%;
   }
   footer {
      padding: 15px; 
  }

   button {
       padding: 8px 16px; 
   }
}

/* Styles for devices up to 480px wide */
@media (max-width: 480px) {
   header {
       padding: 30px;
   }

   header nav ul li {
       margin: 0 5px; /* Further reduce margin for smaller screens */
   }

   button {
       padding: 6px 12px; 
   }
   footer {
      padding: 10px; 
  }

}
