body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-image: url('../images/newImahe.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

/* Header styles */
header {
   color: white;
   padding: 100px;
}

/* General text styles */
h1, h2, h3, h4, p {
   color: white;
   text-align: center;
}

a {
   color: black;
   text-decoration: none;
}

/* Table styles */
td, th {
   color: azure;
   border: 2px solid yellowgreen;
}

table {
   table-layout: fixed;
   text-align: center;
}

/* Footer styles */
footer {
   background-color: goldenrod;
}

footer div h4 {
   color: black;
}

/* Button styles */
button {
    border-radius: 10%;
    background-color: black;
    color: gold;
    border: 2px solid black;
    font-size: large;
    box-shadow: 4px 3px 4px 3px;
}

/* Responsive styles */
@media (max-width: 768px) {
   header {
       padding: 50px 20px; 
   }

   header nav ul {
       flex-direction: column;
       align-items: center;
       gap: 10px;
   }

   header nav ul li {
       margin: 5px 0; 
   }

   table {
       width: 80%; 
   }
}

@media (max-width: 480px) {
   header {
       padding: 30px 10px; 
   }

   header nav ul {
       flex-direction: column;
       align-items: center;
       gap: 8px; 
   }

   header nav ul li {
       margin: 5px 0; 
   }

   h1 {
       font-size: 1.5em; 
   }

   h2, h3, h4 {
       font-size: 1em; 
   }

   table {
       width: 100%; 
   }

   button {
       font-size: 0.8em; 
       padding: 8px 10px;
   }
}
